<div class='masthead'>
  <h1 class="text-center">View Bikes</h1>
</div>

<!-- <div>
  <tr>
    <td><%= photo.title %></td>
    <td><img src="images/photos/<%= photo.url %>" /></td>
    <td><%= photo.user_id %></td>
    <td><a href="/photos/<%= photo.id %>/edit">edit</a></td>
    <td><%= link_to 'Delete', photo_path(photo),
          method: :delete,
          data: {confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</div>
 -->
<div class='row'>

  <div class="col-md-3">
    <h4 class="text-center">Title</h4>
    <img src="http://ecx.images-amazon.com/images/I/81LMz4n6j2L._SL1500_.jpg" class="img-responsive" alt="Responsive image">
  </div>

  <div class="col-md-3">
    <h4 class="text-center">Title</h4>
    <img src="http://ecx.images-amazon.com/images/I/81LMz4n6j2L._SL1500_.jpg" class="img-responsive" alt="Responsive image">
  </div>

  <div class="col-md-3">
    <h4 class="text-center">Title</h4>
    <img src="http://ecx.images-amazon.com/images/I/81LMz4n6j2L._SL1500_.jpg" class="img-responsive" alt="Responsive image">
  </div>

  <div class="col-md-3">
    <h4 class="text-center">Title</h4>
    <img src="http://ecx.images-amazon.com/images/I/81LMz4n6j2L._SL1500_.jpg" class="img-responsive" alt="Responsive image">
  </div>

</div>

